<h1>Edit Job</h1>
<form id="job_form_edit" method="post" action="/jobs/<%=@job.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Title: <input type="text" name="job[title]" value="<%= @job.title%>"></p>
  <p>Company: <input type="text" name="job[company]" value="<%= @job.company%>" ></p>
  <p>Location: <input type="text" name="job[location]" value="<%= @job.location%>"></p>
  <p>Salary: <input type="text" name="job[salary]" value= "<%=@job.salary%>"></p>

  <p>contacts: <input type="text" name="job[contacts]"  value="<%= @job.contacts%>"></p>
  <p>company_info: <input type="text" name="job[company_info]"  value="<%= @job.company_info%>"></p>
  <p>Body:</p><textarea class="form-control" rows="7" form="job_form_edit" name="job[body]"  ><%= @job.body%></textarea>


  <!--add the rest in here-->



  <input type="submit" value="Update Job">
</form>
