<h1>Edit Job</h1>
<form id="job_form_edit" method="post" action="/jobs/<%=@job.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Title: <input type="text" name="job[title]" value="<%= @job.title%>"></p>
  <p>Company: <input type="text" name="job[company]" value="<%= @job.company%>" ></p>
  <p>Location: <input type="text" name="job[location]" value="<%= @job.location%>"></p>
  <p>Salary: <input type="text" name="job[salary]" value= "<%=@job.salary%>"></p>
  <p>contacts: <input type="text" name="job[contacts]"  value="<%= @job.contacts%>"></p>
  <p>company_info: <input type="text" name="job[company_info]"  value="<%= @job.company_info%>"></p>


  <p>Things to Build: <input type="text" name="job[build]" value=" <%= @job.build   %>" ></p>
  <p>Next Step: <input type="text" name="job[next_step]" value=" <%= @job.next_step   %>" ></p>

  <p>Interview Date: <input type="date" name="job[interview_date]" value=" <%= @job.interview_date   %>" ></p>
  <p>Technical Things to Learn: <input type="text" name="job[learn_technical]" value=" <%= @job.learn_technical   %>" ></p>

    <div class="row">
    <div class="col-md-1">
      <p>
        Interested?<br>
        <input type="radio" name="job[interested]" value="true" <%="checked" if @job.interested %> > Yes<br>
        <input type="radio" name="job[interested]" value="false" <%="checked" unless @job.interested %> > No<br>
      </p>
    </div>

    <div class="col-md-1">
      <p>
        Contacted?<br>
        <input type="radio" name="job[contacted]" value="true" <%="checked" if @job.contacted %> > Yes<br>
        <input type="radio" name="job[contacted]" value="false"<%="checked" unless @job.contacted %> > No<br>
      </p>
    </div>
  </div>

 <!--add the rest in here-->
<!--     t.text     "learn_technical"
    t.text     "build"
    t.string   "next_step"
    t.boolean  "interested"
    t.boolean  "contacted"
    t.datetime "interview_date"

    end  -->

  <p>Body:</p><textarea class="form-control" rows="7" form="job_form_edit" name="job[body]"  ><%= @job.body%></textarea>

  <input type="submit" value="Update Job">
</form>
