<h1>Jobs</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<% @jobs.each do |job| %>
  <h3><%= job.title %></h3>
  <p><%= job.location %></p>
  <p><%= job.company %></p>
  <p><%= job.salary %></p>
   <p><a class="btn btn-info" href="/jobs/<%= job.id %>" role="button">Show</a></p>

   <p><a class="btn btn-primary" href="/jobs/<%= job.id %>/edit" role="button">Edit</a></p>


   
   <form method="post" action="/jobs/<%=job.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="btn btn-danger" type="submit" value="Delete">
  </form>
<% end %>
