<p>Company: <%= @job.company %></p>
<p>Job Title: <%= @job.title %></p>
<p>Location: <%= @job.location %></p>
<p>Salary: <%= @job.salary %></p>
<p>Post Body: <%= @job.body %></p>
<p>Contacts: <%= @job.contacts %></p>
<p>Company Information: <%= @job.company_info %></p>
<p>Technical to learn: <%= @job.learn_technical %></p>
<p>Build to interview: <%= @job.build %></p>
<p>Next Step: <%= @job.next_step %></p>
<p><a href="/jobs/<%= @job.id %>/edit">Edit</a></p>

<form method="post" action="/jobs/<%=@job.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Job Listing">
</form>